@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html,
  body {
    background-color: #07070A;
    color: #F0F0F0;
    font-family: 'Inter', system-ui, -apple-system, sans-serif;
    overscroll-behavior: none;
  }

  /* Scrollbar */
  ::-webkit-scrollbar {
    width: 0px;
  }
}

@layer utilities {
  .scrollbar-none {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}
